* {
  box-sizing: border-box;
}

.top
{
    display: flex ;
    justify-content: space-around;
    flex-flow: row ;
    background-color:  #0D1821; 
}
.heading
{
    color: aliceblue ;
}
.heading_top
{
    padding-top: 7px;
    font-size: 1vw;
    text-align: center;
}
.heading_bottom
{
    font-size: 2vw;
    text-align: center;
}
.links
{
    display: flex ;
    text-align: center;
    background-color: #0D1821;
}
.links a {
    float: left;
    color: #F0F4EF;
    text-align: center;
    padding: 2vw;
    text-decoration: none;
    font-size: 1.5vw;
}
.links a:hover {
    background-color: #ddd;
    color: black;
}
.links a.active {
    background-color: #4CAF50;
    color: white;
}

.spacer
{
    padding: 10px;
}

body{
  background-color: F0F4EF;
  font-family: sans-serif;
}

.header{
  height: 200px;
  text-align: center;
  padding: 20px;
  background-image: url(images/school_front.jpeg);
  background-size: cover;
}

.content {  
  display: flex;
  flex-wrap:wrap;
}

.about {
  flex: 60%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align:center;
  background-color: 344966;
}


.faqs {
  flex: 40%;
  background-color: white;
  padding: 20px;
  background-color: 577399;
}

.faqs > h2 {
  text-align: center;
}

.q{
  text-decoration: underline;
}

.img {
  width: 80%;
  height: 198px;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .content {   
    flex-direction: column;
  }
}
.bottom_contact
{
    display: flex ;
}

.contact{
  background-color: B4CDED;
  width: 59vw;
}
.form-area{
  display:flex;
  flex-direction:column;
  padding: 0 20px;
}

.contact > h2{
  text-align: center;
}

input{
  margin-bottom: 10px;
}
/* footer containing copyright and social media links */
.bottom
{
    display: flex;
    justify-content: space-around;
    vertical-align: baseline;
    text-align: center;
    height: 60px;
}

.copyright
{
    padding: 10px;
    font-size: 0.9vw;
}

.socials
{
    text-align: center ;
    padding: 10px;
    font-size: 0.9vw;
}

  